.card-item {
    cursor: pointer;
    // width: 17%;
    padding: 20px 20px 40px 20px;
    background: #151926;
    border: 1px solid #1d243a;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    .card-text {
        color: #fff;
    }
    &.plus {
        background-image: url("./../../../../../assets/Rectangle2.png");
    }
    &.minus {
        background-image: url("./../../../../../assets/Rectangle3.png");

        .card-info {
            .card-info-icon svg path {
                fill: #ea3943;
            }
            .card-info-text {
                color: #ea3943;
            }
        }
    }
}

.card-item.minus {
    .card-icon {
        svg {
            transform: unset;
        }
    }
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 24px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // flex-wrap: wrap;
    // justify-content: space-between;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-icon {
    margin-right: 16px;
}

.card-info {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #60f5c2;
    .card-info-text {
        margin-left: 4px;
    }
}

.card-number {
    margin-top: 16px;
    span {
        font-weight: 400;
        color: #374160;
    }
    font-weight: 700;
    font-size: 24px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .card-item {
        padding: 16px 16px 26px 16px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-info-text {
        font-size: 12px;
    }
    .card-number {
        font-size: 20px !important;
    }
}

.card-icon {
    display: flex;
}
