.menu {
    background-color: #151926;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    z-index: 1000;
    padding: 86px 24px 0px 24px;
    transition: all 0.4s ease-in-out;

    &.isOpen {
        transition: all 0.4s ease-in-out;
        box-shadow: 0px 0px 24px #11141f;
        padding-right: 46px;

        nav {
            .nav-link {
                .link-text {
                    animation: linkAnimation 0.4s ease-in-out forwards;
                }
            }
        }
    }
}

.link-icon svg path {
    stroke: #374160;
}

.link-text {
    opacity: 0;
    width: 0px;
    overflow: hidden;

    .link-title {
        margin-left: 16px;
        width: 130px;
    }
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0px;
    }

    .link-title {
        transition: 0.3s ease-in-out;
        color: var(--secondary-color);
    }
    .link-icon {
        svg path {
            transition: 0.3s ease-in-out;
        }
        display: flex;
        margin-right: 0px;
    }
    &.active {
        .link-icon svg path {
            stroke: white;
        }
        .link-title {
            color: #fff;
        }
    }

    &:hover {
        .link-title {
            color: #fff;
        }
        .link-icon svg path {
            stroke: #fff;
        }
    }
}

@keyframes linkAnimation {
    0% {
        opacity: 0;
        width: 0px;
    }
    50% {
        opacity: 0.4;
        width: 75px;
    }
    100% {
        opacity: 1;
        width: 150px;
    }
}

@keyframes close {
    from {
        width: 170px;
        opacity: 1;
    }

    to {
        width: 0px;
        opacity: 0;
    }
}
