.swap {
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.swap-form {
    background: #151926;
    border: 1px solid #1d243a;
    border-radius: 8px;
    width: 30%;
    padding: 40px;
}

.swap-form-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-selector-text {
    font-size: 20px;
    font-weight: 700;
    margin: 0px 8px 0px 16px;
}

.form-selector-control {
    display: flex;
    svg {
        transform: rotate(-90deg);
    }
}

.swap-balance {
    color: #374160;
    span {
        color: #fff;
    }
}

.swap-form-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.max-btn {
    padding: 1px;
    // background: linear-gradient(93.3deg, #18fff0 0%, #642fc5 100%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        background: linear-gradient(
                93.3deg,
                rgba(23, 212, 187, 0.6) 0%,
                rgba(34, 41, 74, 0.6) 51.56%,
                rgba(100, 47, 197, 0.6) 100%
            ),
            #11141f;
        transition: 0.3s ease-in-out;
    }

    &:hover::after {
        width: 200%;
    }
}

.swap-max-btn {
    z-index: 20;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    padding: 17px 30px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.swap-form-input {
    &.second {
        display: flex;
        input {
            width: 100%;
        }
    }
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    input {
        background: #11141f;
        border: 1px solid #1d243a;
        border-radius: 8px;
        padding: 16px;
        color: #fff;
        font-family: "GothamPro";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
    }
}

.sbmt-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sbmt-icon {
    display: flex;
    margin-right: 8px;
}

.swap-switch {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 45%;
        height: 1px;
        left: 0;
        top: 50%;
        background-color: #1d243a;
    }

    &::after {
        content: "";
        position: absolute;
        width: 45%;
        height: 1px;
        right: 0;
        top: 50%;
        background-color: #1d243a;
    }
}
.swap-switch-icon {
    cursor: pointer;
    display: flex;
    svg {
        width: 24px;
        height: 24px;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .swap-form {
        margin: 70px 0px;
        width: 100%;
        padding: 16px;
    }
    .form-selector-text {
        font-size: 16px;
        margin: 0px 5px 0px 5px;
        font-weight: 500;
    }

    .swap-balance {
        font-size: 14px;
    }

    .form-selector-icon {
        display: flex;
        // width: 25px;
        // height: 25px;
        svg {
            width: 25px;
            height: 25px;
        }

        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
    }
    .swap-switch {
        margin-bottom: 24px;
    }
    .swap-form-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
    }
    .swap-form-input input {
        // padding: 16px 10px;
        width: 80% !important;
    }

    .swap-max-btn {
        padding: 8px 16px;
        font-weight: 400;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .form-selector-icon {
        svg {
            width: 30px;
            height: 30px;
        }
    }
    .form-selector-text {
        margin: 0px 5px;
        font-weight: 500;
    }
    .swap-form {
        width: unset;
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .swap-form {
        width: unset;
    }
}
