header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 3fr 0.6fr;
    grid-gap: 16px;
    padding: 0px 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    align-items: center;
    position: relative;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // padding: 16px 16px 24px 16px;
}

.mobile-input {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0px;
    background: #11141f;
    display: grid;
    align-items: center;
    display: none;
    &.active {
        display: grid;
        grid-template-columns: 1fr 0.3fr;
        grid-gap: 16px;
    }
    input {
        padding: 10px 16px;
        background: #151926;
        border: 1px solid #1d243a;
        border-radius: 6px;
        margin-left: 16px;
        // width: 70%;
        color: #fff;
        font-size: 16px;
        font-family: "GothamPro";
    }
    .input-icon {
        justify-content: center;
        margin-right: 16px;
        display: flex;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    header {
        grid-template-columns: 0.5fr 0.2fr 0.9fr 0.7fr;
        padding: 0px 16px 0px 95px;
    }
    .connect {
        .connect-title {
            text-align: left;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1900px) {
    header {
        grid-template-columns: 0.5fr 0.4fr 1fr 0.5fr;
        padding-left: 95px;
    }
}
