header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 3fr 0.6fr;
    grid-gap: 16px;
    padding: 0px 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // padding: 16px 16px 24px 16px;
}
.selector {
    border-radius: 6px;
    border: 1px solid #1d243a;
    padding: 10px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // width: 20%;

    position: relative;

    .selector-list {
        position: absolute;
        left: 0;
        top: 65px;
        padding: 10px;
        background: #151926;
        border: 1px solid #1d243a;
        box-shadow: 0px 0px 24px #11141f;
        border-radius: 6px;
        width: 95%;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        // height: 0px;
        display: none;

        &.active {
            opacity: 1;
            display: block;
            z-index: 1000;
            // height: 100%;
            // display: flex;
            // flex-direction: column;
        }

        .list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 6px 0px;
            margin: 5px 0px;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background-color: #0f111c;
            }
            .selector-item-icon {
                display: flex;
                margin-right: 8px;
            }
        }
    }

    .selector-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .selector-title {
        font-size: 16px;
        font-weight: 400;
    }
    .selector-icon {
        margin-right: 8px;
        display: flex;
    }

    .selector-control {
        display: flex;
        transition: 0.3s ease-in-out;
        &.active {
            transform: rotate(-180deg);
        }
    }
}

.header-info {
    font-size: 16px;
    // width: 10%;
    text-align: center;
}
.header-input {
    display: flex;
    position: relative;
    // width: 55%;
    .input-icon {
        position: absolute;
        top: 0;
        left: 25px;
        bottom: 4px;
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    input {
        width: 100%;
        background-color: #151926;
        border: 1px solid #1d243a;
        color: #374160 !important;
        padding: 12px 24px 12px 56px;
        border-radius: 6px;
        font-size: 16px;
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #374160 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #374160 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #374160 !important;
}

.header-connect {
    border-radius: 6px;
    background: linear-gradient(93.3deg, #18fff0 0%, #642fc5 100%);
    padding: 1px;
    display: flex;
    align-content: center;
}

.connect {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(
            93.3deg,
            rgba(23, 212, 187, 0.6) 0%,
            rgba(34, 41, 74, 0.6) 51.56%,
            rgba(100, 47, 197, 0.6) 100%
        ),
        #11141f;
    border-radius: 6px;
    // border: 1px solid;
}

.connect-icon {
    display: flex;
    margin-right: 8px;
}

.header-mobile,
.header-mobile-menu {
    display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    header {
        grid-template-columns: 2fr 0.5fr;
        margin-bottom: 16px;
        .header-mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            & > * {
                &:first-child {
                    margin-right: 24px;
                }
            }
        }
    }
    .header-info {
        display: none;
    }

    .header-input {
        display: none;
    }

    .header-connect {
        display: none;
    }
    .header-mobile-menu {
        display: flex;
        flex-direction: column;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        z-index: 1000;
        background-color: #11141f;
        transition: 0.3s ease-in-out;
        &.isOpen {
            height: 100vh;
        }

        .header-mobile-menu-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 28px;
            padding: 28px 16px 40px 16px;
        }

        .menu-top-logo {
            font-size: 22px;
        }

        .menu-top-control {
            display: flex;
        }

        .header-mobile-menu-wallet {
            display: flex;
            margin: 0px 16px;
            padding: 1px;
            border-radius: 6px;
            background: linear-gradient(93.3deg, #18fff0 0%, #642fc5 100%);
            display: flex;
            align-content: center;
        }

        .menu-wallet {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: linear-gradient(
                    93.3deg,
                    rgba(23, 212, 187, 0.6) 0%,
                    rgba(34, 41, 74, 0.6) 51.56%,
                    rgba(100, 47, 197, 0.6) 100%
                ),
                #11141f;
            border-radius: 6px;
            padding: 12px 0px;
            width: 100%;
            text-align: center;
            justify-content: center;
        }

        .menu-wallet-icon {
            display: flex;
        }
        .menu-wallet-text {
            font-weight: 500;
            padding-left: 8px;
        }
    }
    .header-mobile-menu-links {
        margin: 40px 16px 0px 16px;
        .mobile-menu-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0px;
            }

            .menu-link-icon {
                margin-right: 16px;
                svg path {
                    stroke: #374160;
                }
            }
            .menu-link-text {
                color: #374160;
            }
        }
    }
    .header-mobile-menu-socials {
        display: flex;
        margin: 40px 16px 0px 16px;
        .menu-social {
            display: flex;
            margin-right: 24px;
        }
    }
    .header-mobile-menu-apps {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 40px 16px 0px 16px;
        justify-content: space-between;
    }

    .header-mobile-menu-copy {
        display: flex;
        margin: 28px 16px 28px 16px;
        .footer-copy {
            font-size: 12px;
            text-align: center;
            width: 100%;
        }
    }
}
