header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 3fr 0.6fr;
    grid-gap: 16px;
    padding: 0px 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // padding: 16px 16px 24px 16px;
}
.selector {
    border-radius: 6px;
    border: 1px solid #1d243a;
    padding: 10px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // width: 20%;

    position: relative;

    .selector-list {
        position: absolute;
        left: 0;
        top: 65px;
        padding: 10px;
        background: #151926;
        border: 1px solid #1d243a;
        box-shadow: 0px 0px 24px #11141f;
        border-radius: 6px;
        width: 95%;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        // height: 0px;
        display: none;

        &.active {
            opacity: 1;
            display: block;
            // height: 100%;
            // display: flex;
            // flex-direction: column;
        }

        .list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 6px 0px;
            margin: 5px 0px;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background-color: #0f111c;
            }
            .selector-item-icon {
                display: flex;
                margin-right: 8px;
            }
        }
    }

    .selector-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .selector-title {
        font-size: 16px;
        font-weight: 400;
    }
    .selector-icon {
        margin-right: 8px;
        display: flex;
    }

    .selector-control {
        display: flex;
        transition: 0.3s ease-in-out;
        &.active {
            transform: rotate(-180deg);
        }
    }
}

.header-info {
    font-size: 16px;
    // width: 10%;
    text-align: center;
}
.header-input {
    display: flex;
    position: relative;
    // width: 55%;
    .input-icon {
        position: absolute;
        top: 0;
        left: 25px;
        bottom: 4px;
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    input {
        width: 100%;
        background-color: #151926;
        border: 1px solid #1d243a;
        color: #374160 !important;
        padding: 12px 24px 12px 56px;
        border-radius: 6px;
        font-size: 16px;
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #374160 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #374160 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #374160 !important;
}

.header-connect {
    border-radius: 6px;
    background: linear-gradient(93.3deg, #18fff0 0%, #642fc5 100%);
    padding: 1px;
    display: flex;
    align-content: center;
}

.connect {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(
            93.3deg,
            rgba(23, 212, 187, 0.6) 0%,
            rgba(34, 41, 74, 0.6) 51.56%,
            rgba(100, 47, 197, 0.6) 100%
        ),
        #11141f;
    border-radius: 6px;
    // border: 1px solid;
}

.connect-icon {
    display: flex;
    margin-right: 8px;
}
