.home {
    padding: 0px 16px 16px 16px;
}

.home-title {
    margin-bottom: 16px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .card-list {
        grid-template-columns: 1fr;
        grid-gap: 12px;
        padding: 0px 16px 40px 16px;
    }
    .home-title {
        padding: 0px 16px;
    }
    .home-sliders {
        display: none;
    }
    .home-table {
        display: none;
    }
    .table-controls {
        display: none;
    }

    .pools-title {
        display: none;
    }
    .most-viewed-mobile {
        .slider-title-text {
            margin-bottom: 16px;
            font-size: 22px;
            padding: 0px 16px;
        }

        table {
            counter-reset: rowNumber;
            width: 100%;
            tr::before {
                display: table-cell;
                counter-increment: rowNumber;
                content: counter(rowNumber) ".";
                text-align: right;
                color: #374160;
                vertical-align: inherit;
                padding-bottom: 24px;
                font-size: 12px;
            }
            td {
                padding-bottom: 24px;
            }
            border-collapse: separate;
            border-spacing: 8px;
        }
        .slide-title {
            font-size: 14px;
            padding-left: 0px;
        }

        .slide-numbers .slide-number {
            margin-right: 29px;
        }

        .slide-numbers {
            font-size: 12px;
        }
    }

    .home {
        padding: 0;
    }
    .pools-mobile .home-table table thead tr th:first-child {
        padding: 0;
        width: 0%;
    }
    .pools-mobile {
        .mobile {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
        }

        .home-table tr th {
            padding-bottom: 10px !important;
            padding-top: 10px !important;
        }
        .home-table {
            display: block;
            table {
                margin-top: 16px;
                box-shadow: none;
                background-color: unset;
                border: none;
                display: block;
                overflow-x: auto;
                white-space: nowrap;
                thead {
                    // border-bottom: 1px solid #1d243a;
                    tr {
                        &::before {
                            display: none;
                        }
                        th {
                            font-size: 10px;
                        }
                    }
                }
                tr::before {
                    font-size: 12px;
                    // position: absolute;
                    display: table-cell;
                    counter-increment: rowNumber;
                    content: counter(rowNumber) ".";
                    text-align: right;
                    color: #374160;
                    vertical-align: inherit;
                    padding-bottom: 0px;
                    font-size: 12px;
                    padding-left: 16px;
                }

                td {
                    font-size: 12px;
                    // border-bottom: 1px solid #1d243a;
                    &.pool {
                        padding-left: 1rem;
                    }
                }

                .pool-title {
                    font-size: 14px;
                }
                .pool-icon {
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
    .pools-mobile {
        .slider-title-text {
            padding: 0px 16px;
        }
    }
    .mobile {
        .table-controls {
            display: flex !important;
            .page-item {
                padding: 12px 5px;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .home {
        padding: 0px 16px 16px 95px;
    }
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
    .home-sliders {
        grid-template-columns: 1fr;
    }

    .home-table {
        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            background-color: unset;
            border: unset;
            box-shadow: unset;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .card-item {
        padding: 20px 10px 40px 10px;
    }
    .home-slider {
        padding: 15px 10px 20px 10px;
    }
    .slide-title {
        padding-left: 5px;
    }
    .slide-numbers .slide-number {
        margin-right: 16px;
    }
}

@media (min-width: 1201px) and (max-width: 1900px) {
    .home-sliders {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home {
        padding-left: 95px;
    }
}
