.home {
    padding: 0px 16px 16px 16px;
}

.home-title {
    margin-bottom: 16px;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 24px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // flex-wrap: wrap;
    // justify-content: space-between;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-icon {
    margin-right: 16px;
}

.card-info {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #60f5c2;
    .card-info-text {
        margin-left: 4px;
    }
}

.card-number {
    margin-top: 16px;
    span {
        font-weight: 400;
        color: #374160;
    }
    font-weight: 700;
    font-size: 24px;
}

// SLIDER
.home-sliders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.home-slider {
    overflow: hidden;
    background: #151926;
    border: 1px solid #1d243a;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.slider-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider-title-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > * {
        display: flex;
        &:hover {
            cursor: pointer;
            svg path {
                stroke: #60f5c2;
            }
        }
        &:first-child {
            margin-right: 16px;
        }
    }
}

ol {
    padding: 0;
}

.slide-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide-title {
    color: #374160;
    span {
        color: #fff;
    }
}
.slide-number {
    color: #374160;
}

.slide-percent {
    &.plus {
        color: #60f5c2;
    }
    &.minus {
        color: #ea3943;
    }
}

.slide-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    .slide-number {
        margin-right: 55px;
    }
}

.slide-icon {
    margin-right: 8px;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ol {
    width: 100%;
}

.slide-list {
    li {
        margin-bottom: 8px;
        list-style-type: circle;
        .slide-icon {
            display: flex;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

// Table
.home-table {
    margin-bottom: 24px;
    td {
        padding: 16px;
    }

    table {
        border-style: hidden; /* hide standard table (collapsed) border */
        box-shadow: 0 0 0 1px #1d243a; /* this draws the table border  */
        background: #151926;
        border: 1px solid #1d243a;
        border-radius: 6px;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    table {
        counter-reset: rowNumber;
    }

    tr {
        border-bottom: 1px solid #1d243a;
        &:last-child {
            border: none;
        }
    }

    table tr::before {
        display: table-cell;
        counter-increment: rowNumber;
        content: counter(rowNumber) ".";
        text-align: right;
        color: #374160;
        vertical-align: inherit;
    }

    thead {
        tr::before {
            display: none;
        }
    }

    tr th {
        font-weight: 400;
        text-align: start;
        padding: 20px;
        border-bottom: 1px solid #1d243a;
        &.order {
            width: 0%;
        }
        &.pool {
            padding-right: 20px;
            // width: 10%;
        }
        &.price {
            width: 8%;
        }
        &.hours {
            width: 8%;
        }
        &.min {
            width: 5%;
        }
        &.hour {
            width: 5%;
        }
        &.sixhour {
            width: 5%;
        }
        &.twofour {
            width: 5%;
        }
        &.volume {
            width: 10%;
        }
        &.liqudity {
            width: 10%;
        }
    }
}
.pools-title {
    margin-bottom: 24px;
}
.pool {
    display: flex;
    align-items: center;
    .pool-icon {
        display: flex;
        margin-right: 16px;
    }
}

.pool-title {
    color: #374160;
    span {
        color: #fff;
    }
}

.plus {
    color: #60f5c2;
}

.minus {
    color: #ea3943;
}

.table-controls {
    display: flex;
    justify-content: center;
}

.controls {
    display: flex;
    background: #151926;
    border: 1px solid #1d243a;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
}
.controls-btns {
    display: flex;
    &:hover {
        cursor: pointer;
        .controls-btns-text {
            color: #fff;
        }
        .controls-btns-icon {
            svg path {
                stroke: #fff;
            }
        }
    }
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    &:first-child {
        border-right: 1px solid #1d243a;
    }
}

.page-item {
    display: flex;
    font-size: 14px;
    color: #374160;
    &.active {
        color: #fff;
    }
    &:hover {
        color: #fff;
        cursor: pointer;
    }
}

.controls-btns-icon {
    display: flex;
    margin-right: 4px;
    &:last-child {
        margin-right: 0px;
        margin-left: 4px;
    }
}

.controls-btns-text {
    font-size: 14px;
    color: #374160;
}

.controls-page-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forward {
    transform: rotate(-180deg);
}

.btn-forward {
    border-left: 1px solid#1D243A;
}

.page-item {
    padding: 12px 20px;
    border-right: 1px solid #1d243a;
    &:last-child {
        border: none;
    }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #60f5c2 !important;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    bottom: 0;
}

.slide-list {
    padding-bottom: 8px;
}

span.swiper-pagination-bullet {
    background: #374160;
}
.card-number {
    color: #fff;
}

@media (min-width: 320px) and (max-width: 768px) {
    .card-list {
        grid-template-columns: 1fr;
        grid-gap: 12px;
        padding: 0px 16px 40px 16px;
    }
    .home-title {
        padding: 0px 16px;
    }
    .home-sliders {
        display: none;
    }
    .home-table {
        display: none;
    }
    .table-controls {
        display: none;
    }

    .pools-title {
        display: none;
    }
    .most-viewed-mobile {
        .slider-title-text {
            margin-bottom: 16px;
            font-size: 22px;
            padding: 0px 16px;
        }

        table {
            counter-reset: rowNumber;
            width: 100%;
            tr::before {
                display: table-cell;
                counter-increment: rowNumber;
                content: counter(rowNumber) ".";
                text-align: right;
                color: #374160;
                vertical-align: inherit;
                padding-bottom: 24px;
                font-size: 12px;
            }
            td {
                padding-bottom: 24px;
            }
            border-collapse: separate;
            border-spacing: 8px;
        }
        .slide-title {
            font-size: 14px;
            padding-left: 0px;
        }

        .slide-numbers .slide-number {
            margin-right: 29px;
        }

        .slide-numbers {
            font-size: 12px;
        }
    }

    .home {
        padding: 0;
    }
    .pools-mobile .home-table table thead tr th:first-child {
        padding: 0;
        width: 0%;
    }
    .pools-mobile {
        .mobile {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
        }

        .home-table tr th {
            padding-bottom: 10px !important;
            padding-top: 10px !important;
        }
        .home-table {
            display: block;
            table {
                margin-top: 16px;
                box-shadow: none;
                background-color: unset;
                border: none;
                display: block;
                overflow-x: auto;
                white-space: nowrap;
                thead {
                    // border-bottom: 1px solid #1d243a;
                    tr {
                        &::before {
                            display: none;
                        }
                        th {
                            font-size: 10px;
                            &.pool {
                                // padding-left: 2rem;
                            }
                        }
                    }
                }
                tr::before {
                    font-size: 12px;
                    // position: absolute;
                    display: table-cell;
                    counter-increment: rowNumber;
                    content: counter(rowNumber) ".";
                    text-align: right;
                    color: #374160;
                    vertical-align: inherit;
                    padding-bottom: 0px;
                    font-size: 12px;
                    padding-left: 16px;
                }

                td {
                    font-size: 12px;
                    // border-bottom: 1px solid #1d243a;
                    &.pool {
                        padding-left: 1rem;
                    }
                }

                .pool-title {
                    font-size: 14px;
                }
                .pool-icon {
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
    .pools-mobile {
        .slider-title-text {
            padding: 0px 16px;
        }
    }
    .mobile {
        .table-controls {
            display: flex !important;
            .page-item {
                padding: 12px 5px;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .home {
        padding: 0px 16px 16px 95px;
    }
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
    .home-sliders {
        grid-template-columns: 1fr;
    }

    .home-table {
        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            background-color: unset;
            border: unset;
            box-shadow: unset;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .card-item {
        padding: 20px 10px 40px 10px;
    }
    .home-slider {
        padding: 15px 10px 20px 10px;
    }
    .slide-title {
        padding-left: 5px;
    }
    .slide-numbers .slide-number {
        margin-right: 16px;
    }
}

@media (min-width: 1201px) and (max-width: 1900px) {
    .home-sliders {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home {
        padding-left: 95px;
    }
}
