.App {
    display: flex;
    /* flex-direction: column; */
}

.app-menu {
    padding-right: 88px;
}

.app-header {
    width: 100%;
}

@media (min-width:320px) and (max-width: 768px) {
    .app-menu {
        padding-right: 0px;
    }

    .App {
        display: block;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {

    .app-menu {
        padding: 0;
    }
}

@media (min-width: 1201px) and (max-width: 1900px) {
    .app-menu {
        padding: 0;
    }
}