@font-face {
  font-family: "GothamPro";
  src: url("./assets/fonts/gothampro_bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "GothamPro";
  src: url("./assets/fonts/gothampro_medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "GothamPro";
  src: url("./assets/fonts/gothampro.ttf");
  font-weight: 400;
}

:root {
  --secondary-color: #374160;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
  font-weight: 400;
  color: #fff;
  background-color: #11141f;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
}
